        .hdrop{
        cursor:pointer;
        color:red;
        }
        .hget{
        cursor:pointer;
        color:blue;
        }
        .hexit{
        cursor:pointer;
        color:green;
        }
        .htext{
        color:black;
        }
        .hinput{
        cursor:pointer;
        color:green;
        display:block;
        }
        .clickable{
        cursor:pointer;
        }
        .heol{
        }
        .hbr{
        display:block;
        }
        .hstart{
        display:block;
        }
        .hend{
        display:block;
        }
